.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo {
  background-color: rgb(17, 16, 16);
  width: 60%;
  text-align: center;
  padding: 10px;
}
h1 {
  color: white;
  text-align: center;
}
button {
  background-color: rgb(4, 135, 20);
  border: none;
  padding: 9px;
  font-size: 16px;
  width: auto;
}
input {
  border: none;
  padding: 10px;
  width: 300px;
}
p {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
}
.list-record {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.list-data {
  background-color: azure;
  color: black;
  width: 200px;
  padding: 5px;
  text-align: center;
}
